@font-face{
  font-family: "Roman Font 7";
  src: url("../roman_font_7.eot") format("eot"),
  url("../roman_font_7.woff") format("woff"),
  url("../roman_font_7.ttf") format("truetype"),
  url("../roman_font_7.svg#RomanFont7") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Code New Roman Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Code New Roman Regular'), url('../Code New Roman.woff') format('woff');
}

@font-face{
  font-family: 'Code New Roman Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Code New Roman Italic'), url('../Code New Roman i.woff') format('woff');
}

@font-face{
  font-family: 'Code New Roman Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Code New Roman Bold'), url('../Code New Roman b.woff') format('woff');
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #000;
  font-family: "Roman Font 7";
  background-image: url("Login_Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100% 50%;
}